// Theme

:root {
    --key: #F0F;
    --primary: #FB1;
    --secondary: #FEB;
}

// Reset

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

// Main

html {
    background: #000;
}

body {
    position: relative;
    width: 2560px;
    height: 1440px;
    background: var(--secondary) url(./background.png);
    background-blend-mode: lighten;
}

main {
    // Size
    width: 100%;
    height: 100%;
    // Color
    color: #FFF;
    // Font
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 48px;
}

main > div {
    // Position
    position: absolute;
    // Color
    color: #000;
    background: #FFFA;
    // Border
    border: 8px solid var(--primary);
    border-radius: 20px;
}

#screen {
    // Position
    left: 40px;
    top: 40px;
    // Size
    width: 1920px;
    height: 1080px;
    // Color
    background: var(--key);
}

#description {
    // Position
    left: 40px;
    bottom: 40px;
    // Size
    width: 1920px;
    height: 240px;
    // Space
    padding: 20px;
}

#comments {
    // Position
    right: 40px;
    top: 40px;
    // Size
    width: 520px;
    height: 1080px;
}

#clock {
    // Position
    right: 40px;
    bottom: 40px;
    width: 520px;
    height: 240px;
    // Space
    padding: 20px;
    // Place
    display: flex;
    align-items: center;
    justify-content: center;
    // Font
    font-size: 120px;
}
